/* global styling variables */

:root {
    --backgroundColor: rgba(233, 233, 1, 0.534);
    --backgroundColor2: rgb(114, 114, 114);
    --mainsystemcolor: yellow;
    --mainsystemcolorblack: black;
    --shadowColor: rgba(29, 29, 28, 0.5) 2px 6px 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Trip card heading  texte */

#join_trip_heading_text {
    width: 80% !important;
    text-align: center !important;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--backgroundColor);
    margin: 70px auto 0px auto;
}

#join_trip_heading_text>h1 {
    margin-bottom: 15px;
}


/* search button */

#search_box {
    position: absolute;
    border-style: none;
    height: 35px;
    width: 280px;
    bottom: 25px;
    border-radius: 10px;
}

#search_box::placeholder {
    padding-left: 50px;
    font-size: 18px;
    text-transform: capitalize;
}


/* trip cards details */

#trip_section_card_details {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    width: 98vw;
    margin: 100px auto 70px auto;
    overflow: hidden;
    /* background-color: var(--backgroundColor); */
    border-radius: 10px;
    box-shadow: var(--shadowColor);
}


/* trip card section */

#trip_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 30vw;
    position: fixed;
    margin: 100px 10px 70px 10px;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 700px;
    border-radius: 10px;
    box-shadow: var(--shadowColor);
}

.main_navigation {
    background-color: black;
    padding: 30px;
    margin: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 2;
    border-bottom: 0.1px solid var(--mainsystemcolor);
}

.main_navigation ul {
    position: relative;
    float: right;
    margin-right: 30px;
}

.main_navigation li {
    display: inline;
    padding-left: 30px;
    list-style-type: none;
    text-transform: capitalize;
}

.fa-search {
    background-color: red;
    padding: 10px;
    position: absolute;
    z-index: 2;
    color: white;
    left: 255px;
    bottom: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-user-circle {
    color: var(--mainsystemcolor);
}


/* trip card */

#trip_user_post {
    position: relative;
    left: 100px;
    top: 40px;
    color: white;
    font-weight: bolder;
    padding: 10px;
    width: 80%;
}

#trip_user_post p {
    font-weight: lighter;
    display: inline;
}


/* #user_image {
    position: absolute;
    top: 46.5%;
    right: 15px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    border: whitesmoke solid 2px;
    ;
} */

#trip_card {
    min-width: 14vw;
    height: 375px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    margin: 5px 5px 0px 5px;
    border: 1px rgba(126, 126, 126, 0.145) solid;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    transition: all 0.5s;
    position: relative;
}

#trip_card_details {
    min-width: 270px;
    height: 350px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    margin: 25px 10px 25px 10px;
    border: 1px rgba(126, 126, 126, 0.145) solid;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    transition: all 0.5s;
}

#trip_card:hover,
#trip_card_details:hover {
    box-shadow: var(--shadowColor);
}

#trip_image {
    min-width: 270px;
    max-width: 270px;
    max-height: 180px;
    min-height: 180px;
    overflow: hidden;
    margin-bottom: 25px;
    border-bottom: rgb(0, 0, 0) solid 5px;
}

#trip_card>a,
#trip_card_details>a {
    position: relative;
    border-style: none;
    color: black;
    background-color: var(--mainsystemcolor);
    border-radius: 10px;
    top: 40px;
    box-sizing: border-box;
    width: 8.5vw;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px;
    padding-right: 15px;
    transition: all 1s;
}

#trip_card_details>a:hover,
#trip_card>a:hover {
    background-color: black;
    width: 8.6vw;
    color: white;
}

h1 {
    text-transform: uppercase;
}


/* trip post form */

#form h1 {
    margin-left: 20px;
    text-align: center;
    max-width: 27vw;
    background-color: var(--mainsystemcolor);
    padding: 20px;
    border-radius: 10px;
}

#submit {
    background-color: var(--mainsystemcolor);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

#trip_post_form {
    max-width: 30vw;
    position: absolute;
    right: 0;
    padding: 0;
    z-index: 2;
    top: 200px;
    background-color: red;
    display: none;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
}

#trip_post_form input {
    border-style: none;
    width: 40%;
    margin: 10px 0 10px 10px;
    height: 40px;
    border-radius: 10px;
    border: rgba(255, 255, 0, 0.692) solid 2px;
}

#trip_post_form input::placeholder {
    /* padding-left: 20px; */
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
}

#id_description {
    position: relative;
    border: var(--mainsystemcolor) solid 2px;
    border-radius: 10px;
    margin: 10px 0 10px 20px;
    height: 10%;
    width: 90%;
}

#id_is_public {
    height: 20px !important;
    width: 20px !important;
}

#trip_post_form label {
    border-style: none;
    left: 20px;
    bottom: 20px;
    font-weight: lighter;
}

#privacy_check {
    border-radius: 10px !important;
    width: 20px!important;
    height: 20px !important;
}

input[type=text]:focus {
    background-color: var(--backgroundColor);
}


/* selected trip */

#actual_trip {
    width: 22vw;
    position: relative;
    top: 150px;
    left: calc(100% - 21vw);
    border-radius: 10px;
    border: 2px solid var(--mainsystemcolor);
}

#actual_trip h1 {
    text-align: center;
    text-transform: uppercase;
}

#actual_trip>div>img {
    width: 100%;
    border-radius: 10px;
}


/* actual trips i participated in */

#past_trip {
    width: 30vw;
    position: absolute;
    border-radius: 10px;
    border: 2px solid var(--mainsystemcolor);
}

#past_trip h1 {
    text-align: center;
    text-transform: uppercase;
}

#past_trip>div>img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font: Uppercase;
}


/* trip list section */

#trip_list {
    position: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    width: 50vw;
    top: 80px;
    height: 1050px;
    box-sizing: border-box;
    padding: 20px;
    left: calc(100% - 69.5vw)
}

#trip_user_image {
    max-width: 60px;
    position: relative;
    height: 60px;
    margin: 0;
    bottom: 32px;
    margin: 10px;
    border-radius: 50%;
}

#trip_list_item form {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    right: 15px;
}

#trip_list_item form input {
    border-style: none;
    position: relative;
    width: 27vw;
    height: 45px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
}

#trip_list_item form button {
    border-style: none;
    width: 7vw;
    height: 45px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#trip_feature_image {
    width: 100%;
    min-width: 40vw;
    min-height: 350px;
    border-radius: 10px;
}

#trip_list_item {
    background-color: black;
    color: white;
    margin: 5px 0 2px 0px;
    border-radius: 10px;
    overflow: hidden;
}

#trip_desription {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.fa-clock-o {
    color: red;
}

.fa,
.fas {
    margin: 0px 10px 0px 20px;
}


/* styling links */

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

.upper_trip_list_nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lower_trip_list_nav {
    position: relative;
    right: 10px;
    display: flex;
    justify-content: center;
}

hr {
    border: 0.3px solid var(--backgroundColor);
    opacity: 0.5;
}

.comment_trip {
    height: 100px;
    overflow: hidden;
}


/* trip details page */

.trip_details {
    width: 100%;
    height: 40vw;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.trip_details img {
    width: 60vw;
    height: 40%;
    border-radius: 10px;
    border: 1px rgba(161, 161, 161, 0.145) solid;
    box-shadow: var(--shadowColor);
    margin-top: 20px;
}

.comment_trip_text>div {
    padding: 20px;
    background-color: rgba(255, 255, 0, 0.226);
    margin: 10px;
    border-radius: 10px;
}

.comment_trip_text {
    top: 120px;
    right: 20px;
    width: 36.5vw;
    border-radius: 10px;
    overflow: scroll;
    padding: 0 20px 0 20px;
}

.comment_trip_text_details {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 36.5vw;
    height: 500px;
    border-radius: 10px;
    overflow: scroll;
}

.comment_trip_text h3 {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.comment_trip_text p {
    margin-left: 35px;
}

#trip_details_text {
    margin-left: 50px;
}

#trip_details_text p {
    display: inline;
    font-weight: lighter;
    text-transform: lowercase;
}


/* display trip post form */

#display_trip_form button {
    background-color: red;
    color: white;
    position: absolute;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    z-index: 4;
    top: 100px;
    right: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.2s;
}

.fa-location-arrow {
    padding: 0;
    margin: 6px 6px 6px 0;
}

#display_trip_form>button:hover {
    background-color: var(--mainsystemcolorblack);
    width: 150px;
}

#display_trip_form>button:hover>.fa-location-arrow {
    transform: rotate(360);
}


/* [input = file] styling */


/*site responsiveness */


/* @media only screen and (min-width: 958px) {
    h1 {
        background-color: rgba(0, 0, 253, 0.8);
    }
}

@media only screen and (min-width: 500px) {
    h1 {
        background-color: rgba(0, 0, 215, 0.8);
    }
} */